body{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
header{
	
}
.title_container{
    margin-top: 30%;
    margin-right: 30%;
    margin-left: 20%;
    /* [disabled]margin-bottom: 8%; */
}

.title{
    width: 220px;
	
}

.content{
    color: rgba(28,69,134,1.00);
    nt-size: 18px
}

.btn_box{
	
	
}

.btn1{
	
}

.btn2{
	
}
