body{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
header{
	
}
.title_container{
	margin:20% 0% 20% 10%;
}

.title{
	
}

.content{
    color: rgba(28,69,134,1.00);
    nt-size: 18px
}

.btn_box{
	
	
}

.btn1{
	
}

.btn2{
	
}